body{
    background-color: black;
}
.card {
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    border: 4px solid #1b1a1a;
    background-color: #ffffff;
    background-size: cover;
    border-radius: 20px;   
    margin: 5px;
}
.container{
    display: flex;
    justify-content: space-around;

}
