body{
    background-color: #5b5a5a;
}
.card {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    border: 4px solid #343333;
    background-color: #b9b6b6;
    background-size: cover;
    border-radius: 20px;   
    margin: 5px;
}
.profile {
    width: 100%;
    height: 150%;
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    border: 4px solid #343333;
    background-color: #b9b6b6;
    background-size: cover;
    border-radius: 20px;   
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-content{
    flex: 1;
    margin-right: 10px
}
.main-content{
    flex: 4;
}
.container{
    display: flex;
    justify-content: space-around;

}
.img {
    width: 150px;
    height: 150px;
    border-radius: 130px;
}